$main-gr: #a5a5a5;
$color-poster:     #c12700;

body {
  background-color: $main-gr;
}

#hat {
  position: relative;
  background: url('../img/tree-bg.jpg');
  min-height: 500px;
}

#quota {
  position: relative;
  background: url('../img/quota.svg');
  background-repeat: no-repeat;
}

#portfolio {
  .portfolio-item {
    width: 30%;
    :hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

#posters {
  i {
    color: $color-poster;
  }
}

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}
