$posters-color:     #c12700; 
$logos-color:       #d9931e; 
$advertising-color: #eaca29; 
$package-color:     #2e960f; 
$calendars-color:   #299ddc; 
$sites-color:       #003aaa; 
$photography-color: #71009c; 
$misc-color:        #736357; 
$light-gray:        #a5a5a5; 
$dark-gray:         #616868;

@mixin symbol-color ($name, $color) {
  ##{$name} {
    i {
      color: $color;
    }
  }
}

body {
  background-color: $light-gray;
}

#hat {
  position: relative;
  background: url('../img/tree-bg.jpg');
  min-height: 500px;
}

#hat-inner {
  position: relative;
  background: url('../img/tree-bg.jpg');
  min-height: 100px;
}

#quota {
  position: relative;
  background: url('../img/quota.svg');
  background-repeat: no-repeat;
}

#portfolio {
  .portfolio-item {
    width: 30%;
    :hover {
      opacity: 0.8;
      cursor: pointer;
    }
  }
}

@include symbol-color('posters', $posters-color);
@include symbol-color('logos', $logos-color);
@include symbol-color('advertising', $advertising-color);
@include symbol-color('package', $package-color);
@include symbol-color('calendars', $calendars-color);
@include symbol-color('sites', $sites-color);
@include symbol-color('photography', $photography-color);
@include symbol-color('misc', $misc-color);

.carousel-caption {
  position: relative;
  left: 0;
  top: 0;
}

.works-number {
  display: inline;
  font-size: 0.75rem;
  font-weight: bold;
  padding-left: 0.37rem;
  padding-right: 0.4rem;
  padding-bottom: 0.08rem;
}

.overlay{
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  transition: .3s ease;
  background-color: rgba(255, 255, 255, 0.75)
}

.gsimg{
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
  opacity: 0.75;
  }

.thumb:hover .gsimg{
  -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
  filter: grayscale(0%);
  opacity: 1;
  transition: .5s ease;
}