body {
  background-color: #a5a5a5; }

#hat {
  position: relative;
  background: url("../img/tree-bg.jpg");
  min-height: 500px; }

#quota {
  position: relative;
  background: url("../img/quota.svg");
  background-repeat: no-repeat; }

#portfolio .portfolio-item {
  width: 30%; }
  #portfolio .portfolio-item :hover {
    opacity: 0.8;
    cursor: pointer; }

#posters i {
  color: #c12700; }

#logos i {
  color: #d9931e; }

#advertising i {
  color: #eaca29; }

#package i {
  color: #2e960f; }

#calendars i {
  color: #299ddc; }

#sites i {
  color: #003aaa; }

#photography i {
  color: #71009c; }

#misc i {
  color: #736357; }

.carousel-caption {
  position: relative;
  left: 0;
  top: 0; }

.works-number {
  background-color: white;
  display: inline;
  padding-left: 0.4rem;
  padding-right: 0.43rem;
  padding-bottom: 0.08rem; }
